/* login.php - CSS */
.loginCard {
    background-color: #f8f9fa;
    margin-top: 13%;
    width: 32%;
}

/* index.php - CSS */
#landingHeader {
    height: 50vh;
    width: 100vw;
    background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center;
  }
  
#landingHeader #headerContent {
    background-color: rgba(155, 155, 155, 0.466);
}

/* footer.php - CSS */
.footerTextColour {
    color: #c7c8c9;
}

/* contact.php - CSS */
.fullHeight {
    height:85vh;
}

/* Advice.php - CSS */

.adviceButton {
    height: 100px;
    width: 200px;
}

.adviceCard {
    background-color: #f8f9fa;
    margin-top: 10%;
}

/* Register.php - CSS */

.registerCard {
    background-color: #f8f9fa;
    margin-top: 10%;
    width: 32%;
}


/* All Pages - CSS */

.card {
    background-color: #f8f9fa;
}